body{
    text-align:center;
}
header {
  border: solid purple;
  border-width: 4px;
  height: 12vh;
  margin: 1em;
}
nav {
  border: solid blue;
  margin: 1em;

  border-width: 4px;
  height: 12vh;
}
.sectionContainer {
  border: dashed green;
  border-width: 4px;
  margin: 1em;
  
}
section {
  border: solid purple;
  border-width: 0.2px;
  height: 9vh;
  margin: 1em;
}
li{
  border: none;
  display: inline;
  justify-content: space-evenly;

}
li1:hover{
  transition: ease-in 2s;
  background-color: rgb(240, 11, 205);
}
li2:hover{
  transition: ease-in 2s;
  background-color: red;
}
li3:hover{
  transition: ease-in 2s;
  background-color: peru;
}
li4:hover{
  transition: ease-in 2s;
  transform: scale3d(3s);
  background-color: black;
}
table, th, td{
  width:50%;
  margin-left:25%;
  border: solid black;
  
}
#yyy:hover{
transform: scale(1.5);
}
#frost{
 display: flex;
 justify-content: center;
 text-align: justify;
}
.productsSection{
  border: solid black;
  height: 8em;
}